:root {
    scroll-behavior: smooth;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a {
    display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
mark,
pre,
code {
    font: inherit;
}

mark {
    background-color: transparent;
}

picture,
img,
video,
iframe {
    display: block;
    max-width: 100%;
    width: 100%;
    height: initial;
}

svg {
    display: block;
    width: 100%;
    height: initial;
    fill: currentColor;
}


form,
input,
select,
option,
textarea,
label,
fieldset,
legend,
button {
    display: block;
    font: inherit;
    background-color: initial;
}

fieldset {
    border: none;
}

button,
label {
    cursor: pointer;
}


/*MAIN*/

.Main-Wrapper {
    width: 100%;

}

.Main-Title {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 7.5rem 0 0 0;

    font-family: "BBH Bogle", sans-serif;
    font-size: 15.625rem;
    text-transform: uppercase;
}

.Title-Clear {
    display: flex;
    flex-flow: row nowrap;
    gap: .1875rem;

}

.Title-Perspective {
    display: flex;
    flex-flow: row nowrap;
    gap: .1875rem;
}

.Clear {
    transition: transform 0.4s ease-in-out;
}

.Clear:hover {
    color: #21ff28;
    transform: rotateY(180deg);
}

.Pers {
    transition: transform 0.4s ease-in-out;
}

.Pers:hover {
    color: #21ff28;
    transform: rotateY(180deg);

}

/*MAIN IMAGENES*/


.Product-Grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 12.5rem 0;
}

.Img-Front {
    transition: transform 0.3s ease-in-out;
}

.Img-Front:hover {

    transform: translateY(-6.25rem);
}

.Product-Detail {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Img-Detail {
    transition: transform 0.3s ease-in-out;
}

.Img-Detail:hover {
    transform: scale(0.8);
}


/*MEDIA*/


@media(max-width:62.5rem) {
    .Main-Title {
        width: 60%;
        font-size: 4.375rem;
        margin-left: 1.25rem;

    }

    .Title-Clear {
        width: 100%;
    }

    .Title-Perspective {
        width: 100%;
    }

    .Product-Grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 3.125rem 0;
    }
}
